<!--String Interpolation - String interpolation is type of one way data binding which is used
to share data from component to view... -->
<!-- <h3 style="text-decoration: underline">String Interpolation</h3>
<table>
  <tr>
    <td>First Name : </td><td>{{employeeFirstName}}</td>
  </tr>
  <tr>
    <td>Last Name : </td><td>{{employeeLastName}}</td>
  </tr>
  <tr>
    <td>Full Name : </td><td>{{employeeFirstName+' '+employeeLastName}}</td>
  </tr>
  <tr>
    <td>Sum of Two numbers : </td><td>{{num1+num2}}</td>
  </tr>
  <tr>
    <td>First Name : </td><td><input type="text" value="{{employeeFirstName}}"></td>
  </tr>
</table>
<br/>
Employee Name : <span>{{employeeFirstName+' '+employeeLastName}}</span><br/>
<button  disabled="{{isDisabled}}">I m Button</button>
<img src="{{imageUrl}}" style="height:50px;height:50px;"/>  -->


<!--Property Binding... Property Binding is also another kind of data binding which is used to share
data from component to view...Property binding consist of two things :- target and value. 
target is the name of the property that we want to bind and value is that property of component
which we want to bind.. --><br/>
<!-- Employee Name : <span [innerHtml]="employeeFirstName"></span><br/>
Employee Name : <input type="text" [value]="employeeFirstName"/> <br/> -->

<!--Here we can see the difference b/w property binding and String interpolation. So where you 
   have to use string expression use interpolation and when you are dealing with non-string
   expression using property binding.-->
<!-- <button  [disabled]="isDisabled">I m Button</button><br/>
<img [src]="imageUrl" style="height:50px;width:50px"/> -->

<!--Event Binding - Event Binding is defined as the updating/sending of the value/information
of a certain variable from the presentation layer (view) to the component (model) . For example,
clicking a button-->
<!-- <h1>Event Binding</h1>
<h1>{{title}}</h1>
<button (click)="changeMyTitle()">Title is changed on click of this button</button> -->

<!--Two way Data Binding :- Two-way data binding is a combination of both Property and 
  Event Binding and it is a continous synchronization of a data from view to the component
and component to the view , i.e. changes made in the component's data should sync to the view
and should immediately update the model into the corresponding component with view data.  
  Two -way data binding is mainly used in data entry forms  where the user changes the view
and makes changes in the model with the view data and vice versa . So as we know , Angular uses 
the combination of Property binding and event binding to implement two-way data binding with
the help of the ngModel directive.
  NgModel is not a part of Angular's code library , it is defined in the forms module library
so you need to import the FormsModule library in the app.module.ts file. -->
<h1>Two Way Binding in Angular</h1>
<!-- Enter your user name : <input type="text" [value]="userName" (input)="changeUserName($event.target.value)"/> -->
Enter your user name : <input type="text" [(ngModel)]="userName"/>
<br/>
<h3>Welcome : {{userName}}</h3>







